@import "tailwindcss";

:root {
  --background: #f1f5f9;
  --foreground: #0f172a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "Segoe UI",
    "Inter",
    sans-serif;
}
